@model List<SistemaSolar.Models.SistemaMeteorologico>

@{
    ViewData["Title"] = "DetalleSistemaMeteorologico";
}

@using (Html.BeginForm("DetalleSistemaMeteorologico", "Home", FormMethod.Get))
{
    <div>
        <h1> Sistema Meteorologico </h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:100px;">Planeta</th>
                <th style="width:100px;">Dia De lluvia</th>
                <th style="width:100px;">Dia de Sequia</th>
                <th style="width:200px;">Max. Presion y Temp.</th>
                <th style="width:200px;">Año</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sist in Model)
            {
                <tr>
                    <td>@sist.NombrePlaneta</td>
                    <td>@sist.PeriodoLluvia</td>
                    <td>@sist.PeriodoSequia</td>
                    <td>@sist.PeriodoPresionTemperatura</td>
                    <td>@sist.Anios</td>
                </tr>
            }
        </tbody>
    </table>
}
